* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 14px "Lucida Granda", Helvetica, Arial, sans-serif;
    background: #000;
    color:#fff;
    text-align: center;
}
header,
.left,
.right{
    position: absolute;
    border:1px solid #fff;
}
header{
    left:10px;
    right:10px;
    top:10px;
    height:150px;
}
header h1{
    font-size: 40px;
    height: 60px;
    line-height: 60px;
}
.left{
    top:170px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 200px;
}
.left ul{
    overflow: auto;
}
.left ul li{
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.left ul li.selected{
    color: red;
}
.right{
    top:170px;
    right:10px;
    bottom: 10px;
    left:220px;
}